a,
a:hover,
a:visited {
    text-decoration:underline;
    color:inherit;
}

#heading {
  padding-bottom: 20px;
  }

#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  }
  #map.faded {
    opacity: .3;
  }
#zoom-in {
  position: fixed;
  width: 50%;
  left: 50%;
  height: 100%;
  top: 40px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  pointer-events: none;
  opacity: .5;
  }
.hide {
  display: none;
}

.result {
    border-bottom:1px solid #eee;
}

.affix {
    position:fixed;
}

a.load {
    text-decoration:none;
}

a.l {
    padding:2px;
    text-decoration:underline;
    font-size:13px;
    margin:0 4px;
}

h2, p {
    margin:0;
    padding:0 20px;
}

.result {
  padding: 5px 0 0 0;
  transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
  }
  .result.active,
  .result:hover {
    background-color: #f5f5f5;
  }
  .result .date {
    padding-left: 5px;
    }

.changeset {
  padding: 0px 0px 5px 20px;
  height: 35px;
  overflow: hidden;
  }
  .changeset:first-letter { text-transform: capitalize; }
  .changeset a { text-decoration: none;}
  .result.active .changeset,
  .result:hover .changeset { height: auto; min-height: 35px;}
  .changeset:first-line { font-weight: bold; font-size: 18px; }
